<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        // 매개변수, 인자
        function view(no){
            location.href = "/board/view?No="+no
        }
    </script>
</head>
<body>
    <h1>Main page</h1>
    <p><%=name%>님 환영합니다.</p>
    <!-- 하이퍼링크 글 쓰기 -->
    <a href="/board">글 쓰기</a>
    <!-- 글의 목록들을 로드 -->
    <table border="1" style="width:500px;">
        <tr>
            <th style="width:20%">글 번호</th>
            <th style="width:60%">글 제목</th>
            <th style="width:20%">작성자</th>
        </tr>
        <!-- 반복문 시작 -->
        <%for (var i = 0; i < data.length; i++) {%>
            <tr onclick="view('<%=data[i].No%>')">
                <td><%=data[i]['No']%></td>
                <td><%=data[i]['title']%></td>
                <td><%=data[i]['writer']%></td>
            </tr>
        <!-- 반복문 종료 -->
        <%}%>
    </table>
</body>
</html>